/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

img {
    width: 100px;
}

/* hero section  */
.hero {
    background-image: url(/images/torshov.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F1FAEE;
    margin-bottom: 0px;
}

h1,
h2 {
    background-color: #1D3557;
    margin: 10px;
    border: none;
    border-radius: 8px;
    padding: 10px 30px;
    font-size: 40px;
}

h2 {
    width: 700px;
    background-color: #457B9D;
}

.activities {
    margin-top: 0px;
    color: #1D3557;
    background-color: #F1FAEE;
    height: 100vh;
    padding: 100px;
}

/* activities section */
.container {
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}

h3 {
    font-size: 50px;
}

.circle {
    border-radius: 50%;
    width: 250px;
}

.box {
    width: 33%;
}

/* guide section  */

.guide {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxx {
    background-color: #A8DADC;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    border-bottom: 8px solid #1D3557;
    width: 800px;
    color: #1D3557;
}

.boxx img {
    width: 350px;
    border-radius: inherit;
}

.guide-text h3,
p {
    margin-bottom: 40px;
}

.guide-text p {
    font-size: 20px;
    font-style: italic;
    padding: 3px;
}

.guide-text h4 {
    font-size: 20px;
}